*{
    margin: 0px;
    padding: 5px;
}
#Parent{
    width: 100%;
}
#Moi{
    width: 25%;
    background-color: black;
    height: 170px;
    padding-top: 220px;
    border-radius: 10%;
    float: left;
}

#Experience{
    width: 70%;
    background-color: rgb(117, 117, 117);
    height: 350px;
    padding-top: 270px;
    border-radius: 5%;
    position: right;
}